// importing sass modules
@import './reset';
@import './variables';
@import './bag.scss';
@import './cart.scss';
@import './categories.scss';
@import './departments.scss';
@import './footer.scss';
@import './header.scss';
@import './home.scss';
@import './login.scss';
@import './logo.scss';
@import './menu.scss';
@import './pagination.scss';
@import './products.scss';
@import './registration.scss';
@import './profile.scss';
@import './shipping.scss';
@import './orders.scss';
@import './search.scss';
@import './show.scss';
@import './welcome.scss';

// default fonts for app
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,700|Playfair+Display:400i,700&display=swap');

html,
body {
  /* font-family: 'Playfair Display', serif;
  font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  font-size: 15px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  outline: 0;
}

button,
input[type='submit'] {
  background: $colorPrimary;
  border: none;
  border-radius: 30px;
  outline: 0;
  cursor: pointer;
}

.radio .selection {
  margin-bottom: 1em;
  display: inline-block;
}

.radio .selection label {
  display: inline-block;
  width: 8em;
  background-color: $colorText;
  border-radius: 6px;
  color: #cccccc;
  padding: 0.5em;
  cursor: pointer;
  text-align: center;
  margin: 4px;
}

.radio .selection label:hover {
  background-color: $colorText;
}

.radio .selection input[type='radio'] {
  display: none;
}

.radio .selection input[type='radio']:checked ~ label {
  background-color: $colorPrimary;
  border: 4px solid #cccccc;
}

/* Style The Dropdown Button */
.dropbtn {
  color: $colorPrimary;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0 2px 0 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  width: 170px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $colorPrimary;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {
//   background-color: #3e8e41;
// }
