.categories {
  flex: 1;
  margin-left: 30px;
  min-height: 600px;
}

.categories ul {
  background: $colorBG;
  padding: 20px;
  margin: 10px;
  position: fixed;
}

.categories ul li {
  margin: 10px;
  cursor: pointer;
}

.categories ul li.active {
  color: $colorPrimary;
}
