.departments {
  flex: 1;
  text-align: center;
}

.departments ul {
  display: flex;
  font-size: 15px;
}

.departments ul li {
  margin: 0 22px;
}

.departments ul li.active {
  color: $colorPrimary;
}
