.pagination ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul li {
  font-size: 20px;
  background: $colorBG;
  margin: 6px;
  padding: 10px;
  min-width: 44px;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
}

.pagination ul li.active {
  color: #f62f5e;
}
