.search {
  flex: 1;
  text-align: right;
  margin-right: 30px;
  position: relative;
}

.search input {
  width: 260px;
  height: 36px;
  object-fit: contain;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  outline: 0;
  background-image: url(../images/icons/search.svg);
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 13px;
  font-size: 14px;
}

.search ::placeholder {
  color: $colorSecondary;
}

.search .results {
  position: absolute;
  background: $colorText;
  right: 0;
  border-radius: 10px;
  min-width: 260px;
}

.search .results .item {
  display: flex;
  margin: 10px;
  cursor: pointer;
}

.search .results .item:hover {
  color: $colorText;
  background: $colorBG;
}

.search .results .item .photo {
  max-width: 50px;
}

.search .results .item .name {
  display: flex;
  margin: 10px;
}
