.welcome {
  flex: 1;
  text-align: left;
  margin-left: 30px;
}

.welcome .link {
  color: $colorPrimary;
  cursor: pointer;
  text-decoration: none;
}

.welcome .logout {
  background: none;
  color: $colorPrimary;
  padding: 0;
}
